@charset "UTF-8";
/*css 初始化--挪时科技 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img,
input,
button {
  /*fieldset组合表单中的相关元素*/
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
textarea {
  resize: none;
}
/*防止多行文本框拖动*/
img {
  border: 0;
  vertical-align: middle;
}
/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
  /*合并外边线*/
}
body {
  font: 12px/150% "微软雅黑", Verdana, "\5b8b\4f53";
  /*宋体，Unicode，统一码*/
  color: #666;
  background: #D5D5D7;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}
a {
  color: #666;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  color: #05a300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
/*公共类*/
.container {
  /*版心 提取 */
  width: 980px;
  margin: 0 auto;
}
/*header部分开始*/
header {
  position: relative;
  height: 174px;
  background: url("../images/bg2.gif");
}
header .logo {
  float: left;
  margin-left: 5px;
}
header .logo h1 {
  display: block;
  width: 128px;
  height: 128px;
  background: url("../images/logo.png") no-repeat;
  text-indent: -9999999px;
}
header .topner {
  position: relative;
  height: 128px;
  overflow: hidden;
  margin-right: 5px;
}
header .topner ul {
  float: right;
  margin-top: 10px;
}
header .topner ul li {
  float: left;
  color: #ffffff;
}
header .topner ul li a {
  color: #fff;
  margin: 0 5px;
  font-size: 12px;
}
header .topner p {
  position: absolute;
  right: 0px;
  top: 66px;
  color: #ffffff;
  font-size: 12px;
}
header nav {
  position: absolute;
  bottom: 0px;
}
header nav ul {
  width: 980px;
  overflow: hidden;
}
header nav ul li {
  float: left;
  overflow: hidden;
}
header nav ul li a {
  display: inline-block;
  height: 40px;
  width: 138px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  background: url("../images/dt-3_1.gif");
}
header nav ul li i {
  float: right;
  width: 2px;
  height: 40px;
  background: url("../images/navbar.jpg");
}
header nav ul li a:hover {
  background: url("../images/dt-4.gif");
  color: #444;
}
header nav ul li .active {
  background: url("../images/dt-4.gif");
  color: #444;
}
header nav ul .bdr-l {
  border-radius: 6px 0 0 0;
}
header nav ul .bdr-r {
  border-radius: 0 6px 0 0;
}
/*header部分结束*/
/*footer部分开始*/
footer .footer-nav {
  margin-top: 10px;
  text-align: center;
}
footer .footer-nav a {
  margin: 0 8px;
  color: #333;
}
footer .footer-nav a:hover {
  color: #05a300;
}
footer .footer-content div {
  color: #333;
  text-align: center;
  height: 23px;
  line-height: 28px;
}
footer .footer-content div a {
  color: #333;
}
footer .footer-content div a:hover {
  color: #05a300;
}
/*footer部分结束*/
/*固定定位部分开始*/
.exchange .ex-show {
  position: fixed;
  right: 5px;
  top: 100px;
  cursor: pointer;
  width: 26px;
  height: 90px;
  background: #4dc236;
  padding: 8px 3px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
.exchange .ex-hide {
  position: fixed;
  right: 5px;
  top: 100px;
  width: 129px;
  background-color: #fff;
  display: none;
}
.exchange .ex-hide span {
  display: block;
  background-color: #4dc236;
  width: 129px;
  height: 21px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  padding: 2px 0;
}
.exchange .ex-hide ul {
  padding: 0 10px;
}
.exchange .ex-hide ul li p {
  color: #31991d;
  height: 21px;
  line-height: 21px;
  margin-top: 5px;
  border: 0 none;
}
.exchange .ex-hide ul li img {
  display: inline-block;
}
.exchange .ex-hide p {
  height: 40px;
  border-top: 1px dotted #ccc;
  margin-top: 12px;
  padding: 0 10px;
}
/*固定定位部分结束*/
