




    /*下载中心H3里面的内容区块*/
    .download-h3{
        padding: 15px;
        background-color: #fff;
        text-align: left;
    }
    .download-h3 span{
        padding: 3px 5px 20px;
        color: red;
        font-weight: bold;
    }
    .download-h3 span s{
        display: inline-block;
        width: 9px;
        height: 9px;
        background: url("../images/dt-9.gif")no-repeat;
        margin-right: 5px;
    }

    .download-h3 .down-content{
        border-top: 1px solid #ccc;
        height: 21px;
        padding: 5px 8px;
        background: #f8f8f8;
        color: #999;
        font-size: 12px;
        line-height: 21px;
    }
    .download-h3 .down-content span{
        color: #999;
    }
    .download-h3 .down-content a{
        float: right;
        color: #1C57C4;
    }
    .download-h3 .down-content a span{
        color: red;
    }

    /*li标签里面的添加内容*/
    .content-top .download-h3 > span{
        padding: 3px 5px 20px;
        color: red;
        font-weight: bold;
        font-size: 14px;
    }
    .content-top .download-h3 > span:hover{
        color: red !important;
    }
    .content-top .download-h3 .down-content>span:hover{
        color: #999;
    }
    .content-top .download-h3 .down-content >a >span:hover{
        color: red;
    }